.announce {
    margin: 2px;
    width: 400px;
}

.announce-info {
    background-color: #aec6cf;
}

.announce-warning {
    background-color: #fe9;
}

.announce-emergency {
    background-color: #e11;
}

.AnnouncePoster_announceText,
.NewsPoster_newsTitle,
.NewsPoster_newsText,
.NewsPoster_newsImage {
    width: 400px;
}

